<p id="notice"><%= notice %></p>
<div class="container">
<h1>Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.title %></td>
        <td><%= subject.teacher %></td>        
        <td><%= subject.room %></td>

        <td><%= link_to 'Show', subject, class: "text-white" %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject), class: "text-white" %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-white" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path, class: "text-white" %>

<h2 class= "mt-5"> Empty Rooms (not assigned to Subject or teacher)<h2>
<%  @empty_rooms.each do |room| %>
<div>
<%= room -%> 
</div> 
<% end %>

</div>
